body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://images2.alphacoders.com/542/542730.png");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}
body {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
}

form {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 15px;
  background-color: ;
  max-width: 500px;
}

h1 {
  margin-bottom: 20px;
  margin-left: 20px;
  color: #ffffff;
  text-shadow: 5px 5px 5px black;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  color: black;
  margin-left: 20px;
  margin-top: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border-color: #000066;
  box-shadow: 5px 0px 9px #ffff00;
  background-color: #ffffff;
  color: black;
  font-weight: bold;
}

.enviar {
  background-color: #ffffff;
  height: 40px;
  width: 100px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid;
  color: black;
}

textarea {
  width: 400px;
  height: 120px;
  line-height: 20px;
  max-width: 400px;
}

form label {
  margin-left: 20px;
  color: #ffffff;
  font-weight: bold;
}
form {
  margin: 0 auto;
  width: 400px;

  padding: 1em;
  border: ;
  border-radius: 1em;
}
